div{
    width: 10px;
    height: 10px;
    background-color: pink;
    border: 4px outset red;
    border-radius: 50px;
    animation-name: good;
    animation-duration: 5s;
    position: relative;
    animation-timing-function: ease-in;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

/*@keyframes good{
    from{
        background-color: pink;
        top: 0px;
    }
    to{
        background-color: aqua;
        left:100px;
    }
}*/

@keyframes good{
    0%{
        background-color: pink;
        top: 0px;
        left: 100px;

    }
    25%{
        background-color: blue;
        top: 100px;
        left: 0px;
        
    }
    50%{
        background-color:brown;
        top: 0px;
        left: 100px;
    }
    75%
    {
        background-color: aqua;
        top: 100px;
        left: 0px;
    }
}